<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="author" content="Lau Luppani">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Poki & Pitt</title>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>

    <!-- FAVICONS -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/images/favicons/site.webmanifest">
    <link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#c99340">
    <link rel="shortcut icon" href="/images/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#c99340">
    <meta name="msapplication-config" content="/images/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <%= stylesheet_link_tag "pokiandpitt" %>

    <script src="/javascripts/vendor/jquery-3.3.1.min.js"></script>
    <script src='/javascripts/vendor/jquery.easing.1.3.js'></script>
    <script src='/javascripts/vendor/slick.min.js'></script>
    <script src='/javascripts/vendor/jquery.matchHeight.js'></script>
    <%= javascript_include_tag "vendor/jquery.fancybox.min" %>
    <script src='/javascripts/vendor/page-scroll.js'></script>
   
    <%= javascript_include_tag "apps" %>

  </head>
  <body id="page-top">
    <%= partial "partials/_header.haml" %>
    <%= yield %>
    <%= partial "partials/_footer.haml" %>
  </body>
</html>
